<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.nkirkby.startup.vscode</string>
	<key>ProgramArguments</key>
	<array>
		<string>/nfs/2018/n/nkirkby/Applications/Visual Studio Code.app/Contents/Resources/app/bin/code</string>
		<string>/nfs/2018/n/nkirkby/repos</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
